@charset "UTF-8";

@import 'node_modules/reset-css/sass/_reset.scss',
'@/assets/scss/_variables',
'@/assets/scss/_mixins';


*, ::before, ::after { 
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  margin: 0;
  background: #1b1b1b;
}

.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1240px
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  text-decoration: none;
}


.swiper {
  &-button-prev,
  &-button-next {
    --swiper-navigation-size: 80px;
    --swiper-navigation-color: #fff;
    padding: 50px;
  }
  &-pagination {
    &-bullet {
      --swiper-pagination-bullet-size: 10px;
      --swiper-pagination-color: #fff;
      --swiper-pagination-bullet-inactive-color: #fff;
    }
  }
}