.item {
  $parent: &;
  position: relative;

  &__badge {
    position: absolute;
    top: 0;
    z-index: 2;

    .icon {
      display: flex;
      width: 28px;
      height: 28px;
      border-radius: 0 8px;
      vertical-align: top;

      &.wavve {
        color: #fff;
        font-weight: bold;
        text-align: center;
        background: #3887ff;

        &::after {
          display: inline-flex;
          align-items: center;
          margin: 0 auto;
          content: "W"
        }
      }
    }

    .badge {
      display: flex;
      flex-direction: column;
      gap: 4px 0;
      padding: 8px;

      >span {
        display: inline-flex;
        padding: 2px 8px;
        border-radius: 4px;
        color: #3887ff;
        font-size: 12px;
        line-height: 22px;
        border-color: rgba(0, 0, 0, .8);
        background: rgba(0, 0, 0, .8);
      }
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__thumb {
    overflow: hidden;
    width: 240px;
    height: 360px;
    border-radius: 12px;
    > img {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }

  &__wrap {
    overflow: hidden;
    padding: 20px;
   
    #{$parent}__title {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
    }
    #{$parent}__info {
      display: block;
      margin-top: 4px;
      color: #a5a5a5;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__story {
    overflow: hidden;
    color: #a5a5a5;
    font-size: 16px;
    line-height: 24px;
  }


  &--series {
    #{$parent}__thumb {
      float: left;
      width: 185px;
      height: 278px;
    }
    #{$parent}__story {
      padding: 0 20px;
    }
  }

  &--episode {
    #{$parent}__thumb {
      float: left;
      height: 135px;
    }
    #{$parent}__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 135px;
    }
    #{$parent}__story {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 20px 0;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  &--related {
    #{$parent}__thumb {
      width: 406px;
      height: 230px;
    }
  }

  &--wide {
    #{$parent}__thumb {
      width: 1240px;
      height: 508px;
    }
    #{$parent}__wrap {
      position:absolute;
      bottom: 0;
      left: 0;
      padding: 40px;
      color: #fff;
    }
    #{$parent}__title {
      font-size: 36px;
      line-height: 40px;
    }
    #{$parent}__info {
      display: block;
      margin-top: 20px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  
}

@include mobile {
  .item {
    padding: 20px;
    width: 112px;
    height: 168px;

    &--wide {
      height: 200px;

      &__thumb {
        border-radius: 24px;
      }
    }

    &__badge {
      .icon {
        width: 44px;
        height: 44px;
        border-radius: 0 12px;
      }

      .badge {
        >span {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }

    &__thumb {
      border-radius: 12px;
    }
  }
}